/* ========== Global properties  ========== */

a {
    color: #0091ff;
    font-size: 13px;
}

/* ========== Semantic classes ========== */

.employee_profile .ui.secondary.pointing.menu {
    border-top: 2px solid hsla(210, 6%, 14%, 0.15);
}

.header_top_searchDown {
   margin-top: -5px;
}

header .header_top_search .header_top_searchDown.filter_dropdown {
   margin-right: 20px;
   color: #7f64b5;
}

header .header_top_menu .item.header_title_menu {
   font-family: "ProximaNovaRegular";
   font-size: 20px;
   color: #fff;
   vertical-align: middle;
}

.top_title_menu {
   position: absolute;
   font-size: 12px;
   top: 13px;
   display: inline;
   line-height: 1;
   color: #fff;
}

.ui.tiny.image,
.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg {
    width: 77px;
}

.ui.secondary.pointing.menu .active.item {
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 14px;
    border-color: #7f64b5;
    border-width: 4px;
    margin: 2px 0 -3px;
}

.ui.secondary.pointing.menu .item {
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.form_wrapper {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.form_login {
    box-shadow: 0 0 1px 2px #DCDCDC;
    border-radius: 3px;
    overflow: hidden;
}

.form_login .header_form {
    height: 127px;
    background: #fff url('../../images/logo_form.png') no-repeat 50%;
    border-bottom: 2px solid #dcdcdc;
}

.form_login .header_form_forgot {
    border-bottom: 2px solid #dcdcdc;
    background: #fff;
    line-height: 30px;
    font-weight: bold;
}

.form_login .header_form_forgot span {
    color: #4c4c4c;
    font-size: 16px;
}

.form_forgot_attention {
    padding-bottom: 10px;
    font-size: 13px;
    color: #4c4c4c;
}

.form_forgot_attention span {
    font-weight: bold;
}

.form_login_bottom {
    box-shadow: 0 0 1px 2px #DCDCDC;
    border-radius: 3px;
    height: 75px;
    margin-top: 20px;
    background: #fff;
}

.form_login_bottom img.ui.image {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.form_login_bottom .form_bottom_text {
    padding-left: 20px;
    color: #ccc;
    vertical-align: middle;
    font-size: 16px;
}

.form_login_bottom .help_link {
    color: #a592cb;
    padding-left: 5px;
    cursor: pointer;
}

.form_login .form_login_content {
    padding: 25px 50px;
    background: #f3f8fc;
}

.form_login.ui.form .form_login_content input {
    margin: 5px 0;
    border: 1px solid #DCDCDC;
    color: #9b9b9b;
}

.form_login.ui.form .form_login_content input[placeholder] {
    color: #9b9b9b;
    font-weight: bold;
}

.form_login.ui.form .form_login_content .login_btn {
    background: #7ed321;
    height: 44px;
    color: #fff;
    margin: 15px 0;
}

.form_login.ui.form .form_login_content .login_btn.load {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn.load img {
    width: 48px;
    margin: 0 auto;
}

.form_login.ui.form .form_login_content .login_btn.load:hover {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn:hover {
    background: #62A820;
}

.form_login.ui.form .form_login_link {
    overflow: hidden;
}

.form_login.ui.form .form_login_link .compact {
    overflow: hidden;
    display: inline-block;
    color: #9b9b9b;
    background: #e6e9f0;
    font-weight: bold;
    margin: 5px 0;
    width: 48%;
}

.form_login.ui.form .form_login_link .compact:hover {
    background: #ced1d8;
}

.fullInput {
    width: 100%;
    background: #7ed321;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.emptyInput {
    width: 100%;
    background: #f24d63;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

/* ========== employee_profile ========== */

.employee {
   position: relative;
    display: inline-block;
    height: 100%;
    margin: 20px 0;
}

.employee_profile {
    float: left;
    position: relative;
    background: #fff;
    width: 760px;
    padding: 25px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
    margin-right: 345px;
}

.employee_avatar {
    position: relative;
}

.employee_avatar img {
    margin-bottom: 30px;
}

.employee_icon {
    position: absolute;
    top: 60px;
    left: 55px;
    z-index: 3;
}

.employee_icon i {
    margin: 0;
    font-size: 1.5em;
    color: #7ed321;
}

.avatar_info {
    display: inline-block;
    padding-left: 25px;
}

.avatar_name {
    color: #5c5c5c;
    font-family: "Proxima Nova";
    font-size: 18px;
}

.avatar_position {
    color: #927bc2;
    font-family: "Proxima Nova";
    font-size: 13px;
}

.title_column {
    color: #5c5c5c;
    font-family: "ProximaNovaLight";
    font-size: 13px;
}

.title_column_lf {
    color: #7b899e;
    font-family: "ProximaNovaLight";
    font-size: 13px;
}

.content_column {
    color: #927bc2;
    font-family: "Proxima Nova";
    font-size: 13px;
    padding-bottom: 5px;
}

.title_infom {
    color: #4a4a4a;
    font-family: "Proxima Nova";
    font-size: 14px;
}

.employee_block {
    display: block;
    padding-top: 22px;
}

.edit {
    position: absolute;
    top: 20px;
    right: 0;
}

.employee_profile_info {
    position: relative;
}

.border_bottm {
    border-bottom: 2px solid hsla(210, 6%, 14%, 0.15);
    padding-bottom: 20px;
}

/* ========== employee_option ========== */

.employee_option {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    width: 345px;
    padding: 5px 25px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
}

.employee_option:after {
    display: block;
    content: '';
    clear: both;
}

.ui.button.btn_request {
    background: #b8e986;
    color: #788668;
    width: 195px;
    height: 45px;
    font-size: 15px;
}

.employee_option .ui.labeled.icon.button>.icon {
    background: none;
    color: #788668;
}

.btn_wrap {
    display: block;
    width: 205px;
    margin: 0 auto;
}

.employee_option_block {
   overflow: hidden;
   border-bottom: 1px solid #e6ebf0;
   padding-top: 20px;
   padding-bottom: 20px;
}

.count_sidebar {
   float:right;
   position: relative;
   display: inline-block;
   width: 80px;
   height: 55px;
   padding: 10px 0;
   border-radius: 3px;
   background: #e4e5e7;
   text-align: center;
   cursor: pointer;
   overflow: hidden;
   transition: all 0.2s linear;
}

.count_sidebar:hover {
   box-shadow: 0px 0px 1px 1px #000;
   box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.9);
}

.count_sidebar:hover .count_sidebar_hover {
   display: block;
}

.count_sidebar_hover {
   transition: all 0.2s linear;
   display: none;
   position: absolute;
   padding: 10px 0;
   top:0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(228,229,231,0.8) url('../../images/check_bg.png')no-repeat 50% 50%;

}

.sidebar_info {
   display: inline-block;
   vertical-align: middle;
   padding: 10px 0;
}

.count_title {
   color: #4a4a4a;
   font-family: "ProximaNovaBold";
   font-size: 14px;
}

.count_time {
   font-family: "ProximaNovaRegular";
   font-size: 13px;
   color: #927bc2;
}

.label_edit {
   color: #5c5c5c;
   font-family: "ProximaNovaLight";
   font-size: 13px;
   padding-left: 5px;
}

.ui.selection.dropdown.dropdown_edit {
   color: #927bc2;
   font-family: "Proxima Nova";
   font-size: 13px;
   width: 100%;
}

.descript_edit {
   color: #738094;
   font-family: "ProximaNovaRegular";
   font-size: 12px;
   margin-left: 20px;
}

i.descript_icon {
   padding-right: 20px;
   height: 100%;
   float: left;
   font-size: 1.2em;
   color: #d8d8d8;
}

.input_color.ui.input input {
   font-family: "Proxima Nova";
   color: #927bc2;
   margin: .5em 0;
}

.input_icon {
   display: inline-block;
}

.hr_edit {
   width: 100%;
   border: none;
   border-top: 1px solid #e6ebf0;
   margin: 0 10px;
   margin-top: 20px;
}
