/* ========== Global properties  ========== */

body {
    /*min-width: 1280px;*/
    overflow: auto;
    height: 100%;
}

a {
    color: #0091ff;
    font-size: 13px;
}

/* ========== Semantic classes ========== */

.employee_profile .ui.secondary.pointing.menu {
    border-top: 2px solid hsla(210, 6%, 14%, 0.15);
}

.header_top_searchDown {
    margin-top: -5px;
}

header .header_top_search .header_top_searchDown.filter_dropdown {
    margin-right: 20px;
    color: #7f64b5;
}

header {
    min-width: 1200px;
}

header .header_top_menu .item.header_title_menu {
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

.header_title .header_wrap_img {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #7f64b5;
    text-align: center;
    width: 87px;
}

.header_title .header_wrap_img .ui.button.btn_icon {
    position: absolute;
    padding: 2px;
    background: #7f64b5 !important;
    color: #fff !important;
    border-radius: 50%;
    margin: 0;
    bottom: 0;
    right: 0;
}

.header_title .header_wrap_img .ui.button.btn_icon .icon {
    margin: 0;
    font-size: .8em;
}

.top_title_menu {
    position: absolute;
    font-size: 12px;
    top: 13px;
    display: inline;
    line-height: 1;
    color: #fff;
}

.ui.tiny.image,
.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg {
    width: 77px;
}

.ui.secondary.pointing.menu .active.item {
    color: #4a4a4a;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    border-color: #7f64b5;
    border-width: 4px;
    margin: 2px 0 -3px;
}

.ui.secondary.pointing.menu .item {
    color: #4a4a4a;
    font-family: "Proxima Nova", serif;;
    font-size: 14px;
}

.form_wrapper {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.form_login {
    -webkit-box-shadow: 0 0 1px 2px #DCDCDC;
    box-shadow: 0 0 1px 2px #DCDCDC;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.form_login .header_form {
    height: 127px;
    background: #fff url('../../images/logo_form.png') no-repeat 50%;
    border-bottom: 2px solid #dcdcdc;
}

.form_login .header_form_forgot {
    border-bottom: 2px solid #dcdcdc;
    background: #fff;
    line-height: 30px;
    font-weight: bold;
}

.form_login .header_form_forgot span {
    color: #4c4c4c;
    font-size: 16px;
}

.form_forgot_attention {
    padding-bottom: 10px;
    font-size: 13px;
    color: #4c4c4c;
}

.form_forgot_attention span {
    font-weight: bold;
}

.form_login_bottom {
    -webkit-box-shadow: 0 0 1px 2px #DCDCDC;
    box-shadow: 0 0 1px 2px #DCDCDC;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 75px;
    margin-top: 20px;
    background: #fff;
}

.form_login_bottom img.ui.image {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.form_login_bottom .form_bottom_text {
    padding-left: 20px;
    color: #ccc;
    vertical-align: middle;
    font-size: 16px;
}

.form_login_bottom .help_link {
    color: #a592cb;
    padding-left: 5px;
    cursor: pointer;
}

.form_login .form_login_content {
    padding: 25px 50px;
    background: #f3f8fc;
}

.form_login.ui.form .form_login_content input {
    margin: 5px 0;
    border: 1px solid #DCDCDC;
    color: #9b9b9b;
}

.form_login.ui.form .form_login_content input[placeholder] {
    color: #9b9b9b;
    font-weight: bold;
}

.form_login.ui.form .form_login_content .login_btn {
    background: #7ed321;
    height: 44px;
    color: #fff;
    margin: 15px 0;
}

.form_login.ui.form .form_login_content .login_btn.load {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn.load img {
    width: 48px;
    margin: 0 auto;
}

.form_login.ui.form .form_login_content .login_btn.load:hover {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn:hover {
    background: #62A820;
}

.form_login.ui.form .form_login_link {
    overflow: hidden;
}

.form_login.ui.form .form_login_link .compact {
    overflow: hidden;
    display: inline-block;
    color: #9b9b9b;
    background: #e6e9f0;
    font-weight: bold;
    margin: 5px 0;
    width: 48%;
}

.form_login.ui.form .form_login_link .compact:hover {
    background: #ced1d8;
}

.fullInput {
    width: 100%;
    background: #7ed321;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.emptyInput {
    width: 100%;
    background: #f24d63;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

/* ========== employee_profile ========== */

.employee {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}

.employee_profile {
    float: left;
    position: relative;
    background: #fff;
    width: 782px;
    padding: 25px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
    margin-right: 345px;
}

.employee_avatar {
    position: relative;
}

.employee_avatar img {
    margin-bottom: 30px;
}

.employee_icon {
    position: absolute;
    top: 60px;
    left: 55px;
    z-index: 3;
}

.employee_icon i {
    margin: 0;
    font-size: 1.5em;
    color: #7ed321;
}

.avatar_info {
    display: inline-block;
    padding-left: 25px;
}

.avatar_name {
    color: #5c5c5c;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
}

.avatar_position {
    color: #927bc2;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
}

.title_column {
    color: #5c5c5c;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
}

.title_column_lf {
    color: #7b899e;
    font-family: 'ProximaNovaLight', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
}

.content_column {
    color: #927bc2;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    padding-bottom: 5px;
}

.title_inform {
    color: #4a4a4a;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
}

.employee_block {
    display: block;
    padding-top: 22px;
}

.edit {
    position: absolute;
    top: 20px;
    right: 0;
}

.employee_profile_info {
    position: relative;
}

.border_bottom {
    border-bottom: 2px solid hsla(210, 6%, 14%, 0.15);
    padding-bottom: 20px;
}

/* ========== employee_option ========== */

.employee_option {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    width: 345px;
    padding: 5px 25px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
}

.employee_option:after {
    display: block;
    content: '';
    clear: both;
}

.ui.button.btn_request {
    background: #b8e986;
    color: #788668;
    width: 195px;
    height: 45px;
    font-size: 15px;
}

.employee_option .ui.labeled.icon.button > .icon {
    background: none;
    color: #788668;
}

.btn_wrap {
    display: block;
    width: 205px;
    margin: 0 auto;
}

.employee_option_block {
    overflow: hidden;
    border-bottom: 1px solid #e6ebf0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.count_sidebar {
    float: right;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 55px;
    padding: 10px 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #e4e5e7;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.count_sidebar:hover {
    -webkit-box-shadow: 0px 0px 1px 1px #000;
    box-shadow: 0px 0px 1px 1px #000;
    -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9);
}

.count_sidebar:hover .count_sidebar_hover {
    display: block;
}

.count_sidebar_hover {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    padding: 10px 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(228, 229, 231, 0.8) url('../../images/check_bg.png') no-repeat 50% 50%;
}

.sidebar_info {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}

.count_title {
    color: #4a4a4a;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
}

.count_time {
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    color: #927bc2;
}

.label_edit {
    color: #5c5c5c;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    padding-left: 5px;
}

.ui.selection.dropdown.dropdown_edit {
    color: #927bc2;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    width: 100%;
}

.descript_edit {
    color: #738094;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    margin-left: 20px;
}

i.descript_icon {
    padding-right: 20px;
    height: 100%;
    float: left;
    font-size: 1.2em;
    color: #d8d8d8;
}

.input_color.ui.input input {
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    color: #927bc2;
    margin: .5em 0;
    font-size: 13px;
}

i.input_icon {
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 1.4em;
    color: #d8d8d8;
    cursor: pointer;
}

.input_edit {
    position: relative;
    padding-right: 30px;
}

.hr_edit {
    width: 100%;
    border: none;
    border-top: 1px solid #e6ebf0;
    margin: 0 10px;
    margin-top: 20px;
}

.hr {
    width: 110%;
    border: none;
    border-top: 1px solid #e6ebf0;
    margin-top: 20px;
}

.input_edit .ui.multiple.dropdown > .label {
    color: #927bc2;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    background: #f7f8fa;
    padding: 6px 12px;
}

.input_edit .ui.label > .delete.icon {
    color: #ababab;
}

.input_edit .ui.selection.dropdown {
    width: 100%;
    margin: 5px 0;
}

.input_edit .manager_dropdown.ui.dropdown:not(.button) > .default.text,
.manager_dropdown.ui.dropdown > .text {
    line-height: 1;
}

.input_edit .ui.disabled.input {
    opacity: 0.8;
}

.input_edit .ui.disabled.input input {
    background: #e4e5e7;
}

.btn_save_change.ui.button {
    background-color: #b8e986;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn_cancel.ui.button {
    background-color: transparent;
    border: 1px solid #d3dde4;
    color: #9b9b9b;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* ========== progress_bar ========== */

.progress_bar {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    border: 1px solid #c6c6c6;
    color: white;
    display: block;
    width: 280px;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
    background: #e6ebf0;
    overflow: hidden;
    margin: 10px 0;
}

.progress_bar > span {
    height: 100%;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;
}

.popup_title {
    color: #ababab;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
}

.popup_count {
    color: #424242;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
}

.statistic_holiday {
    font-size: 13px;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    line-height: 2;
}

.statistic_holiday .label {
    color: #5c5c5c;
}

.statistic_holiday .count {
    float: right;
    color: #424242;
    padding-right: 10px;
}

.static_result {
    font-size: 15px;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    background: #efefef;
    border-top: 1px solid #e6ebf0;
    border-bottom: 1px solid #e6ebf0;
    padding: 5px 0;
    margin-top: 20px;
}

.static_result .label {
    color: #5c5c5c;
}

.static_result .count {
    float: right;
    color: #424242;
    padding-right: 10px;
}

.view_link {
    padding-top: 10px;
    display: block;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    text-align: center;
}

.ui.segment.employee_info_block {
    position: relative;
    background: #fffdf0;
    margin: 0;
    margin-top: 20px;
}

.employee_info_block h5 {
    color: #5c5c5c;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 15px;
}

.employee_info_block p {
    color: #5c5c5c;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
}

.employee_info_block span {
    color: #7f64b5;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.employee_info_block i {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 18px;
    color: #d8d8d8;
    cursor: pointer;
}

.employee_info_block i:hover {
    color: #bfbfbf;
}

.statistic_square {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.clr_vac {
    background: #e3d5ff;
}

.clr_sick {
    background: #ffc26a;
}

.clr_mater {
    background: #ff8d9b;
}

.clr_anu {
    background: #f24b60;
}

.clr_blank {
    background: #dbf4c2;
}

.holiday_request {
    padding: 10px 0;
}

.request_item {
    border: 1px solid #e4e5e7;
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    margin-top: 10px;
}

.request_first_date,
.request_last_date {
    display: inline-block;
    font-size: 12px;
    padding-left: 7px;
    vertical-align: middle;
}

.request_date_day {
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    color: #4a4a4a;
    font-size: 13px;
}

.request_full_day {
    color: #888888;
    font-size: 12px;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.request_arrow {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 10px;
}

.btn_request_item {
    float: right;
    margin-top: 5px;
    padding: 3px;
    margin-right: 7px;
    border-radius: .28571429rem;
    background-color: #fff;
    color: #7b7b7b;
    border: 1px solid #e4e5e7;
}

.btn_request_item i {
    padding-left: 3px;
}

.btn_request_item.btn_orange {
    border: 1px solid #ffc62d;
    background: #fffff6;
    color: #ffc62d;
}

.btn_request_item.btn_red {
    border: 1px solid #e0b4b4;
    background: #fff6f6;
    color: #d82b40;
}

.modal_calenader {
}

/* ========== Date Picker ========== */

.date_picker {
    width: 200px;
    overflow: hidden;
}

.date_picker .DayPicker {
    width: 200px;
}

.date_picker .CalendarDay {
    font-size: 12px;
    width: 23px;
    height: 23px !important;
    border: none;
}

.date_picker .date_picker .CalendarDay {
    width: 190px;
    padding: 0 13px;
}

.date_picker .DayPicker__week-header li {
    width: 23px;
}

.date_picker .DayPicker__week-header {
    top: 50px;
    width: 190px;
}

.date_picker .transition-container {
    width: 200px;
    min-height: 217px;
}

.date_picker .CalendarMonthGrid--horizontal {
    width: 200px !important;
    min-height: 200px;
}

.border_calendar_month {
    border: 1px dashed #dcdddf;
    padding: 0 20px 0 20px;
}

.calendar_year {
    width: 100%;
}

.date_picker .DayPickerNavigation--horizontal .DayPickerNavigation__prev,
.DayPickerNavigation--horizontal .DayPickerNavigation__next,
.date_picker .DayPickerNavigation--horizontal .DayPickerNavigation__next {
    padding: 0;
    top: 23px;
}

.date_picker .DayPickerNavigation--horizontal .DayPickerNavigation__prev--default svg,
.date_picker .DayPickerNavigation--horizontal .DayPickerNavigation__next--default svg {
    height: 11px;
    width: 14px;
}

.date_picker .DayPickerNavigation--horizontal .DayPickerNavigation__next {
    right: 140px;
    padding: 0;
}

.date_picker .CalendarMonth__caption {
    color: #737373;
    font-size: 14px;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

.title_calendar {
    padding: 10px;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    color: #737373;
}

.title_calendar i {
    border: 1px solid #e4e5e7;
    background: #f9f9fb;
    color: #737373;
    vertical-align: middle;
    margin: 0 5px;
    padding: 0;
    width: 16px;
    font-size: 0.7em;
    line-height: 1.5;
    height: 16px;
    border-radius: 3px;
    cursor: pointer;
}

/* ========== Accardion ========== */

.today_info_item {
    display: inline-block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.today_info_item.active {
    background: #f9f9f9;
}

.ui.divider {
    text-transform: none;
}

.today_info_item i.circular.icon {
    background: #e4e5e7;
    color: #8065b5;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 2.5em !important;
    height: 2.5em !important;
    line-height: 1.5 !important;
    font-size: 1em;
}

.today_info_item .today_info_user {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

.today_info_item .massage {
    float: right;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.today_info_item .massage_no {
    float: right;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
    background: #fff;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.today_info_item:hover {
    background: #f9f9f9;
}

.today_info_item:hover .massage_no {
    border: 1px solid #d9d9d9;
}

.today_info_item .massage_no:hover {
    border: 1px solid #d9d9d9;
}

.countMassage {
    display: inline-block;
    padding: 0 5px;
    color: #7f64b5;
    font-weight: bold;
}

.user_link {
    color: #5c5c5c;
}

.employee_profile .ui.accordion .title:not(.ui) {
    padding: 0.1em;
}

/*========== ProfileMonth ==========*/

.employee_profile_calendar {
    padding: 40px 0;
    color: #a5a5a5;
}

.employee_profile_calendar .ui.horizontal.divider {
    color: #a5a5a5;
}

.profile_month_item.active {
    color: #4a4a4a;
}

.profile_month_item {
    border: 1px solid #e4e5e7;
    overflow: hidden;
    border-radius: 3px;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    margin: -5px 0 !important;
}

.profile_status_month {
    display: block;
    color: #82d427;
}

.profile_status_month_pending {
    display: block;
    color: #ffcb3f;
}

.profile_status_month_reject {
    display: block;
    color: #d82b40
}

.profile_name_month {
    display: block;
    color: #878787;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.profile_name_month {
    display: block;
    color: #848484;
}

.profile_month_status,
.profile_month_day,
.profile_month_date,
.profile_month_vacation {
    float: left;
    margin: 0 20px;
    padding-top: 5px;
}

.profile_month_status {
    min-width: 75px;
}

.profile_month_day {
    min-width: 60px;
}

.profile_month_date {
    min-width: 80px;
}

.profile_month_vacation {
    min-width: 75px;
}

.icon_time {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

button.profile_month_option {
    background: #fff;
    padding: .3em .4em;
    margin-top: 5px;
    color: #c9c9c9;
    font-size: 1.1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 1px 1px #c9c9c9;
}

.profile_month_option {
    float: right;
}

button.profile_month_option i {
    margin: 0;
}

.profile_month_option:hover {
    color: #a5a5a5;
    box-shadow: 0 0 1px 1px #a5a5a5;
}

.month_day,
.month_vocation {
    vertical-align: middle;
    line-height: 3;
}

.profile_start_month,
.profile_end_month {
    display: inline-block;
    padding: 0 20px;
}

.start_month_date,
.start_month_status,
.end_month_date,
.end_month_status {
    display: block;
}

.start_month_status,
.end_month_status {
    font-size: 0.9em;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    color: #878787;
}

.acartion_status {
    position: absolute;
    top: -5px;
    right: 5px;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.ui .accordion .title {
    position: relative;
}

/*========== Modal Profile Time Card ==========*/

.block_center {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.block_center label {
    padding-left: 2px;
    color: #555;
}

.block_center .subtitle_comment {
    font-size: .7em;
    color: #555;
}

.block_center .ui.form textarea:not([rows]) {
    min-height: 3em;
    height: 5em;
    max-height: 8em;
}

.block_center .ui.selection.dropdown {
    width: 100%;
    margin: 0 0 10px 0;
}

.myClass {
    border: 1px solid grey;
}

/*========== Employee Settings ==========*/

.employee_option_left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #f7f7f7;
    width: 345px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.employee_option_left .ui.vertical.menu {
    width: 100%;
}

.employee_option_left .ui.vertical.text.menu .item {
    margin: 0;
    padding: .8em 1.8em;
    border-bottom: 1px solid #dcdddf;
}

.employee_option_left .ui.vertical.text.menu .item:hover {
    background: #ededed;
    border-left: 4px solid #dcdddf;
}

.employee_option_left .ui.text.menu .active.item {
    border-left: 4px solid #7f64b5;
    color: #7f64b5;
    border-radius: 0;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.employee_option_left .ui.vertical.menu > .active.item:last-child,
.employee_option_left .ui.vertical.menu > .item:last-child {
    border-radius: 0;
}

.employee_profile_right {
    position: relative;
    background: #fff;
    width: 782px;
    min-height: 800px;
    padding-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
    margin-left: 345px;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.employee_title {
    position: relative;
    padding: 30px;
    background: #fafafa;
}

.employee_title .icon-people,
.employee_title .icon-clock,
.employee_title .icon-plane,
.employee_title .icon-bell {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #b6bec8;
    font-size: 3em;
}

.employee_title i.icon.settings {
    position: absolute;
    top: 40px;
    right: 35px;
    color: #b6bec8;
    font-size: 3em;
}

.employee_title .title,
.employee_title_btn .title {
    color: #5a5a5a;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.employee_title_btn .ui.grid > .row > .column {
    padding: 0;
}

.employee_title .subtitle,
.employee_title_btn .subtitle {
    color: #748195;
}

.employee_title_btn {
    margin: 40px 50px 15px 50px;
}

.employee_title_btn .ui.basic.button {
    padding: .6em 1em;
    font-size: 1em;
    min-width: 130px;
}

.employee_settings_content {
    margin: 25px 50px;
}

.employee_settings_content .ui.grid > .row:hover .column:first-child {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    font-weight: bold;
}

.employee_settings_content img {
    width: 22px;
    display: inline-block;
    float: left;
    margin-left: -5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.employee_settings_content .ui.icon.button {
    float: right;
    border: 1px solid #e4e5e7;
    color: #e4e5e7;
    border-radius: 3px;
    padding: 2px 1px;
    background: none;
    margin: 0;
    margin-left: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.employee_settings_content .ui.grid > .row {
    padding: .3rem 0;
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
    margin-top: -1px;
}

.employee_settings_content .ui.grid > .row > .column {
    vertical-align: middle;
    padding: 0;
}

.employee_settings_content span.name,
.employee_settings_content span.date {
    display: inline-block;
    margin-top: 2px;
}

.employee_setting_dropdown .ui.selection.dropdown {
    width: 9em;
    min-height: 1em;
    padding: 0 10px;
    float: right;
    margin: 0;
    margin-left: 5px;
}

.employee_setting_dropdown.rounded .ui.selection.dropdown {
    width: 10.5em;
}

.employee_setting_dropdown span.name {
    line-height: 2.2em;
}

.employee_setting_dropdown .count_users {
    line-height: 3em;
}

.employee_setting_dropdown .ui.checkbox {
    float: right;
    margin-top: 5px;
}

span.bold {
    font-weight: 700;
}

.employee_setting_dropdown .ui.icon.button {
    margin-top: 5px;
}

.employee_setting_dropdown img.ui.image {
    margin-top: 5px;
}

.employee_settings_content .ui.icon.button:hover {
    color: #9b9b9b;
    background: #f7f7f7;
}

.count_users {
    color: #748195;
    font-size: .8em;
    margin-left: 10px;
    cursor: pointer;
}

.ui.popup.setting_popup_users {
    padding: 3px 10px;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.employee_dushboard_setup {
    position: relative;
    margin: 20px 0;
    padding: 30px;
}

.employee_dushboard_setup.green {
    border: 2px solid #b8e986;
    background: #f6fcf7;
}

.employee_dushboard_setup.yellow {
    border: 2px solid #f9f189;
    background: #fcfcf6;
}

.employee_dushboard_setup i.icon.close {
    position: absolute;
    font-size: 1.2em;
    top: 5px;
    right: 5px;
    color: #7d7f7d;
    cursor: pointer;
}

.employee_dushboard_setup p {
    font-size: .9em;
    line-height: 1.2em;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    color: #4a4a4a;
}

.employee_dushboard_setup h1 {
    color: #5a5a5a;
}

.employee_dushboard_setup .ui.button.circular_btn {
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    margin: 0;
    border-radius: 500rem;
    width: 2em;
    height: 2em;
    padding: 6px 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.employee_dushboard_setup .ui.button.circular_btn.inherit {
    box-shadow: 0 0 0 1px #5a5a5a inset !important;
    background: #fff !important;
}

.employee_dushboard_setup .ui.button.circular_btn.green {
    background: #b8e986 !important;
    color: #437707 !important;
}

.employee_dushboard_setup .ui.basic.button {
    padding: .7em 3.5em;
    background: #fff !important;
}

.employee_dushboard_setup .ui.basic.button.green_btn {
    padding: .7em 3.5em;
    box-shadow: 0 0 0 1px #73d004 inset !important;
    color: #73d004 !important;
}

.employee_dushboard_setup img {
    margin-top: 10px;
}

.employee_dushboard_setup .ui.basic.button.yellow_btn {
    padding: .7em 1em;
    box-shadow: 0 0 0 1px #f5a623 inset !important;
    color: #6a6a6a !important;
    min-width: 150px;
}

.ui.popup.popup_users.user {
    max-width: 135px;
    padding-bottom: 10px;
}

.ui.popup.popup_users {
    position: relative;
    max-width: 135px;
    padding-bottom: 35px;
}

.ui.popup.popup_users img.ui.image {
    display: inline-block;
    margin: 3px;
}

ul.popup_users_paginator {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 0;
    margin: 0;
    padding: 3px;
    width: 100%;
    border-top: 1px solid #ededed;
}

ul.popup_users_paginator i.icon {
    color: #d4d4d5;
}

ul.popup_users_paginator li {
    display: inline-block;
    min-width: 15px;
    text-align: center;
    cursor: pointer;
    font-size: .9em;
    line-height: 1.4em;
    vertical-align: middle;
    color: #5a5a5a;
}

ul.popup_users_paginator li.active_li {
    background: #7f64b5;
    color: #fff;
    border-radius: 2px;
}

/*========== Employee_time_view ==========*/

.employee_time_view {
    background: #fff;
    position: relative;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
    padding-bottom: 10px;
}

.employee_time_list {
    display: table;
    table-layout: fixed;
    empty-cells: show;
    margin: 20px;
    padding: 0;
}

.list_row {
    position: relative;
    display: table-row;
    width: 100%;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.list_row .day_col {
    border-bottom: 1px solid #f7f7f7;
}

.list_row .user_col,
.list_row .day_col,
.list_row .change_date {
    border-top: 1px solid #f1f3f7;
}

.info_popup {
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;

}

.list_row:hover .user_col,
.list_row:hover .day_col,
.list_row:hover .change_date,
.list_row:last-child:hover .day_col {
    border-top: 1px solid #b9bec7;
    border-bottom: 1px solid #b9bec7;
}

.list_row:hover .user_col {
    background: #ededed;
}

.user_col:hover {
    background: #ededed;
}

.list_row .day_col:hover span.day {
    font-weight: bold;
    cursor: pointer;
}

.list_row .day_col:hover span.number {
    color: #5a5a5a;
}

.user_col {
    display: table-cell;
    position: relative;
    background: #f7f7f7;
    min-width: 225px;
    padding: 2px 5px;
}

.change_date {
    display: table-cell;
    position: relative;
    min-width: 225px;
    padding: 2px 5px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
}

.user_col .icon-eye {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #9b9b9b;
    cursor: pointer;
}

.user_col .icon-eye:hover {
    color: #5a5a5a;
}

.user_status {
    display: inline-block;
    position: relative;
}

.user_status .status {
    position: absolute;
    bottom: -3px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.user_status .status.green {
    background: #7ed321;
}

.user_status .status.yellow {
    background: #fcfe88;
}

.user_status .status.red {
    background: #ff818f;
}

.user_info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.user_info .user_name,
.user_info .user_position {
    display: block;
    font-family: 'ProximaNovaBold', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    color: #7d7d7d;
}

.user_info .user_position {
    font-size: 0.8em;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

.days_row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.day_col {
    display: table-cell;
    position: relative;
    border-right: 1px solid #f1f3f7;
    min-width: 35px;
    vertical-align: middle;
    line-height: 0.9em;
    height: 53px;
}

.list_row:last-child .day_col {
    border-bottom: 1px solid #f1f3f7;
}

.time_status {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    z-index: 99;
}

.time_stus {
    position: absolute;
    top: 25px;
    left: 12px;
    width: 10px;
    height: 2px;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    z-index: 99;
    border: 1px solid #b6bec8;
    background: #b6bec8;
}

.time_status.green {
    background: #b8e986;
}

.time_status.red {
    background: #deacab;
}

.time_status.yellow {
    background: #fedd88;
}

.time_status.yellow:hover {
    border: 2px solid #ebcb7b;
}

.time_status.red:hover {
    border: 2px solid #b48483;
}

.time_status.green:hover {
    border: 2px solid #abd67d;
}

.center_list {
    display: block;
    max-width: 1366px;
    min-width: 1200px;
    margin: 0 auto;
}

.filter_list {
    margin: 0 !important;
    border-bottom: 1px solid #e6e9f0;
    margin-bottom: 10px !important;
}

.filter_list_search {
    border-right: 1px solid #eaecf4;
    min-width: 230px;
    padding: 5px;
}

.filter_list .filter_list_select.ui.selection.dropdown {
    min-width: 22em;
    margin: 0;
    border: none;
    padding: 0;
    float: right;
    vertical-align: middle;
    height: 1.8em;
    min-height: 1.8em;
    line-height: 1.8em !important;
    color: #9b9b9b;
}

.filter_list .ui.multiple.dropdown > .text {
    line-height: 1em;
}

.filter_list .ui.basic.button {
    margin: 0;
    padding: 4px 3px;
    margin-left: 10px;
}

.filter_list .ui.basic.button:hover {
    background: #f7f7f7 !important;
}

.filter_list .ui.basic.button .icon-eye {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1em;
    font-size: .92em;
    padding: 0 2px;
}

.days_date {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #808080;
    text-align: center;
    width: 100%;
}

.days_date .number,
.days_date .day {
    display: block;
}

.days_date .number {
    font-family: 'ProximaNovaBold', sans-serif
}

.days_date .day {
    font-size: 0.7em;
    text-align: center
}

.change_date .select_month.ui.selection.dropdown {
    position: absolute;
    padding: 2px 5px;
    top: 13px;
    margin: 0;
    width: 90%;
    min-width: 200px;
    height: 1.9em;
    min-height: 1.9em;
    line-height: 1.5em !important;
    font-size: .95em;

}

.change_date .select_month.ui.selection.dropdown .default.text,
.change_date .select_month.ui.selection.dropdown .text {
    line-height: 1.3em;
}

.select_month.ui.selection.dropdown > .dropdown.icon {
    top: .5em;
    color: #9b9b9b;
}

.filter_position {
    margin-left: 10px;
    color: #7f64b5;
    width: 100%;
}

.day_col.hol_date {
    background: #f6f7fa;
    color: #bababc;
}

.day_col.bank_hol_date {
    background: #f9f7e6;
    color: #bababc;
}

.day_col.clicked {
    border: 1px solid #a9deff;
    box-shadow: inset 0 0 1px #a9deff;
}

.employee_time_list .days_row .day_col.current_date {
    border-top: 4px solid #a9deff;
    border-bottom: 2px solid #a9deff;
    border-left: 1px solid #a9deff;
    border-right: 1px solid #a9deff;
    background: #ecf8ff;
}

.employee_time_list .days_row .day_col.current_day {
    border-top: 1px solid #a9deff;
    border-left: 1px solid #a9deff;
    border-right: 1px solid #a9deff;
    background: #ecf8ff;
}

li.list_row:last-child .day_col.current_day {
    border-bottom: 1px solid #a9deff;
}

.user_col .ui.avatar.image {
    width: 2.5em;
    height: 2.5em;
}

.day_col.hol_date .number,
.day_col.hol_date .day {
    color: #bababc;
}

.days_row .day_col > .maternity {
    width: 97.5%;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    border-radius: 3px;
    border: 3px solid #ffdfcb;
    background: #fff6f0;
    z-index: 99;
}

.days_row .day_col > .booked {
    width: 97.5%;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    border-radius: 3px;
    border: 3px solid #e3ddf1;
    background: #fcf7ff;
    z-index: 99;
}

.days_row .day_col > .booked.six {
    width: 1115%;
}

.days_row .day_col > .maternity.four {
    width: 400%;
}

.list_title {
    width: 100%;
}

.employee_time_list .title_month {
    display: table-cell;
    padding-left: 280px;
    color: #9b9b9b;
    font-size: .8em;

}

.sidebar_block {
    padding: 15px 0 20px 0;

    border-bottom: 1px solid #e6ebf0;
}

.sidebar_block-item {
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    background: #fff;
    width: 140px;
    height: 95px;
    border: 1px solid #e4e5e7;
    border-radius: 3px;
}

.sidebar_block-item i.icon {
    color: #7f64b5;
    font-size: 1.5em;
    line-height: 3.5em;
    margin-left: 30px;
}

.sidebar_block-days {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-top: 20px;
}

.sidebar_days_count {
    font-size: 1.5em;
    display: block;
}

.sidebar_days_title {
    display: block;
    color: #5a5a5a;
}

.sidebar_block-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #e4e5e7;
    width: 100%;
    text-align: center;
    font-size: .7em;
    font-family: 'ProximaNovaBold', sans-serif;
    color: #5a5a5a;
    cursor: pointer;
}

.sidebar_popup {
    display: inline-block;
    width: 140px;
    color: #9b9b9b;
}

/*========== Employee_panel_hliday ==========*/

.ui.selection.dropdown.change_date_holiday,
.change_date_holiday.ui.input input {
    padding: 3px 20px;
    margin-right: 20px;
    width: 18.5em;
    height: 2em;
    color: #919191;
    min-height: 2em;
    margin: 2px;
}

.change_date_holiday.ui.dropdown > .text {
    line-height: 1.2em;
    color: #919191;
}

.change_date_holiday.ui.dropdown:not(.button) > .default.text, .ui.dropdown > .text {
    line-height: 1.2em;
}

.change_date_holiday.ui.selection.dropdown > .dropdown.icon {
    line-height: .6em;
    color: #919191;
}

.employee_settings_content span.name.select {
    line-height: 2em;
}

.input_general_settings.ui.input input {
    padding: 3px 10px;
    margin-right: 20px;
    min-width: 100%;
    width: 100%;
    height: 2em;
    color: #919191;
    min-height: 2em;
    margin: 2px;
    font-size: .9em;
}

.general_map {
    border: none;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

.general_company_logo {
    overflow: hidden;
    width: 100%;
    height: 90px;
    border: 2px dashed #dededf;
    border-radius: 5px;
    margin: 10px 0;
}

.employee_settings_content .general_company_logo img.ui.image {
    height: 100%;
    width: 100%;
}

.employee_settings_content .general_setting_info.ui.icon.button,
.employee_settings_content .general_map_info.ui.icon.button {
    background: #8b98a5 !important;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    border-radius: 50%;
    border: none;
    font-size: .8em;
    width: 15px;
    height: 15px;
    color: #fff !important;
}

.employee_settings_content .general_map_info.ui.icon.button {
    position: absolute;
    top: 35px;
    right: 0;
}

.popup_info {
    color: #9d9d9d;
    max-width: 110px;
    width: 110px;
    font-family: 'ProximaNovaRegular', 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

.employee_content {
    position: relative;
    background: #fff;
    width: 100%;
    padding: 25px;
    border-radius: 3px;
    border: 1px solid #e4e5e7;
}

.employee_content.title {
    padding: 15px;
}

.employee_content.item {
    padding: 15px;
    color: #4a4a4a;
}

.employee.visitor .ui.grid > .row {
    padding: .5rem 0;
}

.employee.visitor .ui.pagination.menu {
    width: 100%;
    margin-bottom: 70px;
}

.employee_content.title span,
.employee_content.title .ui.checkbox label {
    color: #9b9b9b;
    vertical-align: middle;
}

.employee_content.title .ui.checkbox label {
    padding-left: 2em;
}

.employee_content.title span i.icon,
.employee_content.title .ui.checkbox label i.icon {
    font-size: .8em;
    padding-left: 3px;
    cursor: pointer;
}

.visitor_check {
    display: inline-block;
    line-height: 1.2em;
}

.visitor_item {
    display: inline-block;
    margin-top: 10px;
}

.option_visitor {
    color: #757575;
    float: right;
    font-size: 1.2em;
    margin: 10px 5px;
    cursor: pointer;
}

.visitor_check .ui.checkbox label {
    margin-top: 5px;
}

.visitor_check .ui.avatar.image {
    width: 3em;
    height: 3em;
    margin: 0 5px 0 15px;
}

.employee.visitor .ui.compact.selection.dropdown.select_page,
.employee_profile_calendar.visitor .ui.compact.selection.dropdown.select_page {
    paddin: 2px 5px;
    margin: 0;
    min-height: 1em;
    height: 30px;
    width: 5em;
    margin-left: 10px;
}

.employee.visitor .ui.pagination.menu .item,
.employee_profile_calendar.visitor .ui.pagination.menu .item {
    margin: 0;
    padding: 5px 15px;
}

.employee_profile_calendar.visitor .ui.pagination.menu {
    width: 100%;
    margin-top: 10px;
}

.ui.thin.right.sidebar {
    width: 360px;
    padding: 20px;
}

.ui.segment.pushable {
    border: none;
}

.employee_avatar.sidebar {
    text-align: left;
    padding-top: 20px;
    font-size: .9em;
    color: #5a5a5a;
    border-bottom: 1px solid #eaeaea;
}

.avatar_name.sidebar {
    font-size: 1.1em;
}

.work_info.sidebar, .employee_visit.sidebar {
    padding: 20px 0;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

.work_info.sidebar .work_info-tel {
    display: inline-block;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.work_info.sidebar h5.ui.header {
    margin-bottom: 15px;
}

.employee_visit.sidebar {
    border-bottom: none;
}

.employee_visit.sidebar .btn_request_item {
    padding: 7px;
    font-size: .8em;
    color: #2a2a2a !important;
    opacity: 1;
    margin: 0;
}

.employee_visit.sidebar h5.ui.header {
    line-height: 2em;
}

.visit_block {
    background: #fff;
    margin-top: 10px;
    border: 1px solid #e4e5e7;
    border-bottom: 2px solid #e4e5e7;
    border-radius: 3px;
}

.visit_block.grey {
    background: #f7f7f7;
}

.visitor_time {
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
}

.visitor_date {
    text-align: center;
    font-size: .8em;
}

.visitor_time span {
    font-size: .8em;
}

.visitor_block-status {
    text-align: center;
    font-size: .8em;
    margin-top: 15px;
    border-top: 1px solid #e4e5e7;
    padding: 2px;
}

.employee_view {
    position: absolute;
    width: 100%;
    height: 55px;
    line-height: 2em;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    border-top: 1px solid #e4e5e7;
}

.ui.sidebar i.icon.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #9b9b9b;
    cursor: pointer;
    wdith: 20px;
    height: 20px;
}

.ui.segment.pushable {
    background: #f7f8fa;
}
.main_info_profile {
    color: #9b9b9b;
    margin-top: 20px;
}
.employee_profile_calendar.visitor .employee_content.item {
    margin-top: 10px;
    padding: 10px;
}

.date_check {
    line-height: 1em;
    margin-top: 5px;
    text-align: center;
}

.st_round {
    display: inline-block;
    margin-top: 3px;
    line-height: 1em;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    border-radius: 50%;
}

.visitor_status {
    vertical-align: middle;
    line-height: 1em;
    font-size: 1em;
    color: #9c9c9c;
}

.visitor_status span {
    display: inline-block;
    vertical-align: middle;
    line-height: 3em;
}

.approved_status {
    background: #b8e986;
    border: 2px solid #b8e986;
}

.cancelled_status {
    background: #4a4a4a;
    border: 2px solid #4a4a4a;
}

.pending_status {
    background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #b8e986 1px, #b8e986 3px);
    border: 2px solid #b8e986;
}

.expected_status {
    background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #48acf9 1px, #48acf9 3px);
    border: 2px solid #48acf9;
}

.rejected_status {
    background: #f58482;
    border: 2px solid #f58482;
}

.awaiting_status {
    background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #f6a929 1px, #f6a929 3px);
    border: 2px solid #f6a929;
}

.checked_status {
    background: #7f64b5;
    border: 2px solid #7f64b5;
}


