.form_wrapper {
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 5px auto;
}

.form_login {
    box-shadow: 0 0 1px 2px #DCDCDC;
    border-radius: 3px;
    overflow: hidden;
}

.form_login .header_form {
    height: 127px;
    background: #fff url('../../images/logo_form.png') no-repeat 50%;
    border-bottom: 2px solid #dcdcdc;
}

.form_login .header_form_forgot {
    border-bottom: 2px solid #dcdcdc;
    background: #fff;
    line-height: 30px;
    font-weight: bold;
}

.form_login .header_form_forgot span {
    color: #4c4c4c;
    font-size: 16px;
}

.form_forgot_attention {
    padding-bottom: 10px;
    font-size: 13px;
    color: #4c4c4c;
}

.form_forgot_attention span {
    font-weight: bold;
}

.form_login_bottom {
    box-shadow: 0 0 1px 2px #DCDCDC;
    border-radius: 3px;
    height: 75px;
    margin-top: 20px;
    background: #fff;
}

.form_login_bottom img.ui.image  {
   display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.form_login_bottom .form_bottom_text {
    padding-left: 20px;
    color: #ccc;
    vertical-align: middle;
    font-size: 16px;
}

.form_login_bottom .help_link {
    color: #a592cb;
    padding-left: 5px;
    cursor: pointer;
}

.form_login .form_login_content {
    padding: 25px 50px;
    background: #f3f8fc;
}

.form_login.ui.form .form_login_content input {
    margin: 5px 0;
    border: 1px solid #DCDCDC;
    color: #9b9b9b;
}

.form_login.ui.form .form_login_content input[placeholder] {
    color: #9b9b9b;
    font-weight: bold;
}

.form_login.ui.form .form_login_content .login_btn {
    background: #7ed321;
    height: 44px;
    color: #fff;
    margin: 15px 0;
}

.form_login.ui.form .form_login_content .login_btn.load {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn.load img {
    width: 48px;
    margin: 0 auto;
}

.form_login.ui.form .form_login_content .login_btn.load:hover {
    background: #7f64b5;
}

.form_login.ui.form .form_login_content .login_btn:hover {
    background: #62A820;
}

.form_login.ui.form .form_login_link {
    overflow: hidden;
}

.form_login.ui.form .form_login_link .compact {
    overflow: hidden;
    display: inline-block;
    color: #9b9b9b;
    background: #e6e9f0;
    font-weight: bold;
    margin: 5px 0;
    width: 48%;
}

.form_login.ui.form .form_login_link .compact:hover {
    background: #ced1d8;
}

.fullInput {
    width: 100%;
    background: #7ed321;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.emptyInput {
    width: 100%;
    background: #f24d63;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.form_wrapper.regestration {
   max-width: 500px;
   margin: 0;
   margin: 0 auto;
   padding-top: 5%;
}

.form_wrapper.regestration .form_login .form_login_content {
   padding: 25px 90px
}

.form_wrapper.regestration .form_login .header_form {
    border-bottom: 1px solid #dcdcdc;
}

.form_wrapper.regestration .ui.fluid.input {
    margin: 15px 0;
    color: #2a2a2a;
}

.text_form {
   font-size: .9em;
   color: #5a5a5a;
}

.form_wrapper.regestration .form_login.ui.form .form_login_content .login_btn {
   height: 38px;
   margin: 20px 0 30px 0;
}

.user_agreement_title {
   background: #fff;
   min-height: 75px;
   padding: 0 50px;
   border-bottom: 1px solid #dcdcdc;
}

.user_agreement_content {
   padding:20px 50px;
   background: #f6f7fa;
   max-width: 1920px;
   margin: 0 auto;
}

.wrapper_user_agreement {
   background: #f6f7fa;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.user_agreement_title h3.ui.header {
   line-height: 3.5em;
   vertical-align: middle;
}

.user_agreement_title .ui.green.button {
   margin-top: 11px;
}

.user_agreement_title .logo {
   display: inline-block;
   vertical-align: middle;
   margin-top: 8px;
   height: 43px;
   min-width: 136px;
   width: 136px;
}

.form_wrapper.regestration .form_login .form_login_content.white,
.form_login .form_login_content.white{
    background: #fff;
    padding: 60px 90px;
}

.icon_input_green.ui.icon.input>i.icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    opacity: 1;
    line-height: 3em;
    background: #b8e986;
    line-height: 1em;
    font-size:.8em;
    margin: 15px;
    color: #fff !important;
    border-radius: 50%;
}

.form_wrapper.regestration .form_login.ui.form .form_login_content .login_btn.reg2 {
    display: block;
    width: 180px;
    margin: 0 auto;
}

.slide{
    margin: 0;
    padding: 0;
    display: block;
    width: 120px;
    margin: 20px auto;
}

.slide li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e0e1e4;
    margin-left: 15px;
}

.slide li.li_active {
    background: #9b9b9b;
}

.slide li.li_green {
    background: #b8e986;
}

.subtitle_regestration {
    text-align: center;
}

.add_logo {
    position: relative;
    width: 100%;
    height: 90px;
    border: 2px dashed #dededf;
    border-radius: 3px;
    cursor: pointer;
}

.add_logo:hover {
    background: #F8F8F8;
}
.add_logo.added {
    background: url('../../images/logo_bradgate.png') no-repeat 50%;
}
.add_logo:hover .add_logo_upload i.icon,
.add_logo:hover .add_logo_upload span {
   color: #0091ff;
}

.general_setting_info.ui.icon.button{
    background: #8b98a5!important;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    border-radius: 50%;
    border:none;
    font-size:.8em;
    width: 15px;
    height: 15px;
    padding: 0;
    color: #fff !important;
}

.general_setting_info.ui.circular.button>.icon {
    padding-right: 1px;
}

.add_logo .general_setting_info {
    position: absolute;
    top: 5px;
    right: 5px;
}

.label_input {
    margin-top: 15px;
    color: #5a5a5a;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.form_login.ui.form .form_login_content .login_btn.cont {
    display: block;
    height: 38px;
    width: 180px;
    margin: 0 auto;
}

.company_map {
    position: relative;
    width: 100%;
    padding-top: 60px;
    height: 210px;
    border: 1px solid #dededf;
    border-radius: 3px;
    overflow: hidden;
}
.company_map iframe {
    margin: 0;
    border-radius: 0;
}
.company_map .company_map_logo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1.5em;
    color: #5a5a5a;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    line-height: 2.8em;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.ui.form.form_login.company {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    overflow: visible;
}

.block_subtitle {
    padding: 60px 0 30px 0;
}

.add_logo_upload {
    text-align: center;
    width: 60px;
    display: block;
    margin: 20px auto;
}

.add_logo_upload i.icon {
    color: #e0e1e4;
    font-size: 1.2em;
}

.add_logo_upload span {
    display: block;
    color: #8c99a6;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.setting_popup_users span.popup_info_company {
    display: inline-block;
    width: 180px;
    padding: 10px;
    color: #9b9b9b;
    font-family: "ProximaNovaRegular", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}


.form_login.ui.form .form_login_content.white  input{
    color: #5a5a5a!important;
}

.form_login.ui.form .form_login_content.white .ui.selection.dropdown {
    padding: 0 10px;
    display: inline-block;
    width: 100%;
    min-width: 180px;
    margin: 0;
    min-height: 0;
    font-family: "ProximaNovaBold", "Lato", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}


.form_login.ui.form .form_login_content.white .ui.dropdown>.text{
    line-height: 2.3em;
}

.form_login.ui.form .form_login_content.white .ui.fluid.dropdown>.dropdown.icon {
    color: #9b9b9b;
}

.general_setting_info.position,
i.icon.position{
    color: #9b9b9b;
    position: absolute;
    top: 11px;
    right: -30px;
    cursor: pointer;
}

.ui.form.form_login.middle {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

